.container {
    position: relative;
    bottom: 0;
    right: 0;

}

.car-key {
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 245;
    height: 435.175;
    background-image: url("../imgs/Key.png");
    background-size: 100%;
}

.car-key-icon {
    position: absolute;
    height: auto;
}

.icon-lock {
    filter: invert(100%);
    width: 45%;
    bottom: 56%;
    right: 42%;
}

.icon-unlock {
    filter: invert(100%);
    width: 45%;
    bottom: 56%;
    right: 13%;
}

.state-engineOn { visibility: visible; }
.state-engineOff { visibility: hidden; }
.icon-engine {
    width: 27%;
    bottom: 40%;
    right: 53%;
}

.state-ebrakeOn { visibility: visible; }
.state-ebrakeOff { visibility: hidden; }
.icon-ebrake {
    width: 40%;
    bottom: 39%;
    right: 19%;
}

.icon-alarm {
    width: 27%;
    bottom: 23%;
    right: 38%;
}